body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Poppins', sans-serif;
    background-image: url('weatherHTML.jpg');
}

.card {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 2em;
    border-radius: 16px;
    width: 100%;
    max-width: 650px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3.5em;
    width: 3.5em;
    outline: none;
    background: #918d8d70;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.34em 1.2em;
    border-radius: 23px;
    height: 1.75em;
    background: #918d8d70;
    width: calc(100% - 150px);
    color: white;
    font-family: inherit;
    font-size: 120%;
    transition: 0.2s ease-in-out;
}

input.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

button:hover {
    background: #dfd9d975;
}

input.search-bar:hover {
    background: #dfd9d975;
}